*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* top and left navbar */


nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #D7E2D9;
    box-shadow: 0px 0.5px 10px rgb(207, 199, 199);
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 2;
}
.navs{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navs > img{
    width: 30px;
    height: 30px;
}
.navbar{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color:  #D7E2D9;
    padding: 5rem 0rem 0rem 0rem;
    padding-left: 2rem;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.navbar .navb{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}
.navb > img{
    width: 24px;
}
.navb:last-child{
    padding-top: 8.5rem;
}

/* main styling */

.A{
    margin-top: 4.5rem;
    margin-left: 200px;
}
.head{
    padding-top: 1rem;
}
a{
    text-decoration: none;
    color: green;
}
.form{
    padding: 3rem;
}
input[type='text']{
    padding: 7rem;
    width: 60rem;
    position: relative;
    margin-bottom: 2rem;
}
input[type='text']::placeholder{
    position: absolute;
    left: 0%;
    top: 0%;
}
button{
    background-color: #387042;
    color: white;
    width: 10rem;
    padding: 0.7rem;
    border: 1px solid #387042;
    border-radius: 12px;
    margin-top: 2rem;
}
